#leftpanel{
  background-color: #6F6D6D;
}

body{
  background-color: #2E2E2E;
  /*max-height:600px;*/
  overflow: hidden;
}

.overlay {
    position: absolute;
    z-index: 10;
}

.underlay {
    position: absolute;
    z-index: 1;
}

#page1{
  position: absolute;
  z-index: 9;
  background-color: #455A64;
  height: 700px;
  overflow-y:scroll;
}

#page2{
  position: absolute;
  z-index: 8;
  background-color: #37474F;

  overflow-y:scroll;
}

.currentMenu{
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

#profilepic{
  height: 100px;
  width: 100px;
}

.logo{
  text-align: center;
  margin: 30px 0 0;
  top:auto;
}

.logoquote{
  text-align: center;

}

h1,h2,h3,h4,h5,h6{
  color: #90CAF9;
}

span,p{
  color: #FFFFFF;
}
