<div class="page_content">
  <h1>About</h1>
  <hr>
  <div class="col-xs-12 col-md-8">
    <hr>
    <h4>Name    : <span>Prabhath Darshana</span></h4>
    <hr>
    <h4>Email   : <span>ndp.mymail@gmail.com</span></h4>
    <hr>
    <h4>Phone   : <span>+94712088499</span></h4>
    <hr>
    <h4>Address : <span>No:120/85, Werellawaththa, Giriulla road, Mirigama, Sri Lanka</span></h4>
    <hr>
    <h4>Age : <span id="age"></span></h4>
    <hr>
  </div>
<div>
<script>
$( document ).ready(function() {
  dob = new Date('1989-03-07');
  var today = new Date();
  var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000));
  console.log(age);
  $('#age').html(age+' years old');
});
</script>
