
<div class="page_content">
<h1>Skills</h1>
<hr>
<div class="row">
  <div class="col-xs-3 col-md-2">
    <div id="myStat" data-dimension="150" data-text="90%" data-info="Java" data-width="10" data-fontsize="28" data-percent="90" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="190" data-icon="long-arrow-up" data-icon-size="18" data-icon-color="#fff"></div>
  </div>
  <div class="col-xs-3 col-md-2">
    hgaj g jgjha hg jla jlka ljal ja.la lka lnja . lajlk alk a .kalk jalkj lkaj lkajlk jalk jlka
  </div>
  <div class="col-xs-6 col-md-4">
    <div id="myStat2" data-dimension="150" data-text="75%" data-info="Java EE" data-width="10" data-fontsize="28" data-percent="90" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="190" data-icon="long-arrow-up" data-icon-size="18" data-icon-color="#fff"></div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div id="myStat3" data-dimension="150" data-text="70%" data-info="HTML 5" data-width="10" data-fontsize="28" data-percent="90" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="190" data-icon="long-arrow-up" data-icon-size="18" data-icon-color="#fff"></div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div id="myStat4" data-dimension="150" data-text="70%" data-info="Jquery" data-width="10" data-fontsize="28" data-percent="90" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="190" data-icon="long-arrow-up" data-icon-size="18" data-icon-color="#fff"></div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div id="myStat5" data-dimension="150" data-text="60%" data-info="Spring" data-width="10" data-fontsize="28" data-percent="90" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="190" data-icon="long-arrow-up" data-icon-size="18" data-icon-color="#fff"></div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div id="myStat6" data-dimension="150" data-text="90%" data-info="" data-width="10" data-fontsize="28" data-percent="90" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="190" data-icon="long-arrow-up" data-icon-size="18" data-icon-color="#fff"></div>
  </div>

</div>
</div>
<script>
$( document ).ready(function() {
  $('#myStat').circliful();
  $('#myStat2').circliful();
  $('#myStat3').circliful();
  $('#myStat4').circliful();
  $('#myStat5').circliful();
  $('#myStat6').circliful();
});
</script>
